.parent{
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 280px;
    width: 430px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 15px;
}
.child1{
    color: hsl(150, 100%, 66%);
    font-size: 10px;
    letter-spacing: 6px;
}

.child2{
    padding: 10px;
    color: hsl(193, 38%, 86%);
}
.child3{
    position: absolute;
    top: 260px;
    background-color:hsl(150, 100%, 66%) ;
    border-radius: 50%;
    padding: 10px;
    border: none;
    width: 40px;
    height: 40px;

}
.child3:hover{
    box-shadow: 0 0px 35px hsl(150, 100%, 66%);
}
.divider{
   width: 80%;
}
.btn{
    
    padding-bottom:5px; 
    height: 20px;
    background-color:hsl(150, 100%, 66%) ;
}

